.e1xhnmc50 {
    text-align: center;
}

.e1xhnmc52 {
    display: flex !important;
    justify-content: center;
}

.st-emotion-cache-ayeshb.e1msl4mp1 {
    border: 1px solid #31333f33;
    border-radius: 0.4rem;
    padding: 0.3rem 0;
    background-color: rgb(238, 239, 224);
}

.st-emotion-cache-4rsbii.e4man111 {
    background-color: rgb(246, 246, 246);
}



